

[data-theme="light"] #web_bg {
    background: url("../img/archive.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
}


[data-theme="dark"] #web_bg {
    background: url("../img/tag.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
}